<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>this is abuout our site welcome to our site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore optio, deserunt animi voluptates non ea modi cumque et dolor quisquam adipisci expedita quae eaque culpa libero distinctio rerum ab natus fugit minima molestiae. Cumque natus animi reprehenderit officia quos quam harum laborum eum obcaecati, voluptatibus eligendi ut distinctio illo?</p>
    {% endblock content %}
    
</body>
</html>